@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto+Slab:wght@400;500;600&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: #fff;
}

main{
  width: 90%;
  margin: 0 auto;
}

.hero{
  margin: 0 auto;
}

.hero-img{
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  border-radius: .2rem;
}

.hero-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text-mobile{
  text-align: center;
  margin: 8rem 0 6rem 0;
}

.hero-text-mobile h1{
  font-size: 2.5rem;
}

.hero-text-desktop{
  display: none;
}

.hero-text{
  margin: 3rem 0 6rem 0;
  text-align: justify;
}

.btn-section{
  width: 55%;
  margin: 0 auto;
}

.btn{
  width: 100%;
  padding: .5rem .6rem;
  margin: 2rem 0 3rem 0;
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Roboto Slab', sans-serif;
  padding: 1rem 0;
}

.btn:hover{
  background: #0f111a;
  transition: all ease-in-out .5s;
}

.brand,
.web,
.repairs{
  display: flex;
  gap: 1rem;
  margin: 0 0 3rem 0;
}

.brand img,
.web img,
.repairs img{
  width: 100%;
  height: 100%;
}

.icon-div{
  width: 20%;
  height: 4rem;
}

.text-div{
  width: 80%;
}

.text-div h3{
  font-size: 1.8rem;
  padding-bottom: .8rem;
}

.projects{
  margin-bottom: 10rem;
}

.projects h2{
  font-size: 2.5rem;
  text-align: center;
}

.card{
  margin: 2rem 0;
}

.card img{
  width: 100%;
  height: 100%;
}

.img-div{
  width: 100%;
  height: 18rem;
}

.project-description{
  padding: 1rem 0 0 0;
}

.extras .heading h2{
  font-size: 2.5rem;
}

.heading{
  margin-bottom: 2rem;
}

.heading p{
  width: auto;
}

.extras ul{
  display: block;
}

.extras ul li{
  padding: 0;
}

.extras ul li:hover {
  transform: none;
}

.socials-section{
  display: flex;
  gap: 1rem;
}

.socials-section svg{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: .6rem auto 0 auto;
}

.socials-section svg:hover path{
  transition: all ease-in-out 0.3s;
  fill: #fff;
}

.social{
  width: 2rem;
}




@media (min-width: 400px){
  main{
    width: 80%;
  }

@media (min-width: 768px){
  main{
    width: 90%;
  }

  .hero-text-mobile{
    display: none;
  }

  .hero{
    display: flex;
    margin: 6rem 0;
    gap: 2rem;
  }

  .hero-img{
    width: 40%;
    height: 60%;
  }

  .custom{
    width: 60%;
  }

  .hero-text-desktop{
    display: block;
  }

  .hero-text-desktop h1{
    font-size: 3rem;
  }

  .hero-text-desktop p{
    font-size: 1.2rem;
  }

  .hero-text{
    margin-top: 1rem;
  }

  .btn-section{
    margin: 0;
    width: 40%;
  }

  .btn{
    margin: 1rem 0 0 0;
  }

  #services h2{
    font-size: 2.5rem;
    margin: 0 0 3rem 0;
  }

  .services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  .brand,
  .web,
  .repairs{
    width: 50%;
    margin: 0 0 3rem 0;
  }

  .text-div h3{
    font-size: 1.5rem;
  }

  .message{
    margin: 0 0 5rem 0;
  }

  .message .btn-section{
    margin: 0 auto 0 auto;
    width: 30%;
  }

  .projects{
    margin: 0 0 3rem 0;
  }

  .projects h2{
    text-align: left;
  }

  .card-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .extras{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
}

@media (min-width: 900px){
  .card{
    width: 30%;
    margin: 2rem 0;
  }

  .brand,
  .web,
  .repairs{
    width: 30%;
  }

  .heading{
    width: 30%;
  }

}

@media (min-width: 1200px){
  .custom{
    margin: 4rem 0 0 0;
  }

  .hero-text{
    margin-top: 4rem;
    width: 80%;
  }

  .message .btn-section{
    width: 20%;
  }
}
}


/* CONTACT PAGE */

.contact-text{
  text-align: center;
  padding: 3rem 0;
  margin-top: 2rem;
}

.contact-text h1{
  font-size: 1.6rem;
}

.contact-text p{
  font-size: 1.2rem;
}

.contact-form{
  width: 100%;
  margin: 0 auto;
}

input{
  width: 100%;
  height: 2.3rem;
  padding: 0 .5rem;
  margin: 0 0 1rem 0;
  outline: none;
  font-family: 'Roboto Slab', sans-serif;
}

textarea{
  width: 100%;
  height: 6rem;
  padding: .5rem 0 0 .5rem;
  margin: 0 0 2rem 0;
  outline: none;
  font-family: 'Roboto Slab', sans-serif;
}


@media (min-width: 568px){
  .contact-text h1{
    font-size: 2rem;
  }
}

@media (min-width: 768px){
  .contact-text h1{
    font-size: 2.5rem;
  }

  .contact-text p{
    font-size: 1.4rem;
  }

  .contact-form{
    width: 70%;
    margin: 0 auto;
  }

  .btn-section{
    margin: 0 auto 5rem auto;
    width: 50%;
  }
}

@media (min-width: 1024px){
  .contact-form{
    width: 50%;
  }
}